
.main-text {
    font-size: 25px ;
    color: white;
    margin-left: auto ;
    margin-right: auto ;
    display: block ;
    text-shadow: 5px 5px 7px black;
}
body {
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(19,17,32,1) 5%, rgba(121,65,9,1) 35%, rgba(255,192,0,1) 100%);
}
.main-text2 {
    font-size: 25px ;
    color: white;
    margin-left: auto ;
    margin-right: auto ;
    display: block ;
    text-shadow: 5px 5px 7px black;
}
.main-text3 {
    font-size: 25px ;
    color: white;
    margin-left: auto ;
    margin-right: auto ;
    display: block ;
    text-shadow: 5px 5px 7px black;
}
.main-text4 {
    font-size: 25px ;
    color: white;
    margin-left: auto ;
    margin-right: auto ;
    display: block ;
    text-shadow: 5px 5px 7px black;
}
.main-zagolovok {
    font-size: 25px ;
    position: relative;
}
.main-pizza {
    font-size: 25px ;
}
.main-zagolovok2 {
    font-size: 25px ;
}
.main-culka {
    font-size: 25px ;
}
.main-zagolovok3 {
    font-size: 25px ;
}
.main-culka2 {
    font-size: 25px ;
}
.main-photo {
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.main-photo2 {
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.main-photo3 {
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.main-photo4 {
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.list2 { 
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 22px;
}
.list:hover {
  transform: rotate(360deg);
  transform: scale(1.25);
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(33, 208, 208, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s linear 250ms;
}
 .dish-card:hover .overlay {
opacity: 1;
}
.dish-card {
    
   
  
  padding: 0;
  gap: 25px;
    width: 600px;
  
    font-size: 25px ;
    position: relative;
}
.slas {
    margin-top: 100px;
}

button {
    background-color: blue;
    color:aquamarine;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.golova {
    font-size: 100px;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.foto {
    width: 600px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
}
